{%extends 'base.html' %}

{% comment %} falta descomentar el boton del formulario {% endcomment %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">About</h5>
                  <p class="card-text">En la siguiente pagina podras encontrar una breve reseña de cada uno de los desarrolladores del proyecto</p>
                  <a href={% url 'about' %} class="btn btn-primary">Ir a About</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Home</h5>
                  <p class="card-text">pagina principal y base del proyecto</p>
                  <a href="{% url 'home' %}" class="btn btn-primary">Ir a Home</a>
                </div>
              </div>
            </div>
          </div>
    </div> 
{% comment %}     
    <div class="container">
      <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Creacion de personas</h5>
                <p class="card-text">En la siguiente vista se puede ver la creacion de personas</p>
                <a href={% url 'formulario' %} class="btn btn-primary">Ir a formulario</a>
              </div>
            </div>
          </div><br> {% endcomment %}

{% endblock contenido %}


{% block informacion %}
    <h1 class="informacion"></h1>

    <form action="POST">
      



    </form>

{% endblock informacion %}