header.home {
    position: relative;
    background: url("https://s1.significados.com/foto/tecnologia-dura-fa.jpg") no-repeat center center;
    background-size: cover;}

span.contenido{
    padding: 30%;
}